<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        DisBlog
    </title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="/js/web-client.js"></script>
    <script src="https://cdn.tiny.cloud/1/mp2976gexbhypbpivv2pl6xgdvhq5rq24vkloc862xsiry8v/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<!--TODO add a Nav Bar, if the user is logged in show the user avatar, if not show options to login, if loggeed in show option for logout-->
{{{body}}}
</body>

</html>