<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        DisChat
    </title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://cdn.tiny.cloud/1/mp2976gexbhypbpivv2pl6xgdvhq5rq24vkloc862xsiry8v/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>

{{{body}}}
</body>

</html>