<!--TODO
show some part of article then add
a button which will redirect to full
article as well as has the like option and the comment option-->

{{#if avatar}}
    <button>
        <img src="{{avatar}}" class="dropbtn">
    </button>
    <div class="dropdown-content">
        <a href="/myProfile">My Profile</a>
        <a href="/editProfile">Edit Profile</a>
        <a href="/logout">Logout</a>
    </div>
{{/if}}
    {{#if article}}
    {{#each article}}
        <div class="articleContainer">
        {{{this.content}}}
                {{#if comments}}
                {{#each comments}}
                <div class="commentsContainer">
                    <div class="comments">
                        <p>{{this.comment_content}}</p>
                    {{/each}}
                    {{/if}}
                <form method="post" action="/article">
                    <textarea cols="30" rows="1" name="comments">comments</textarea>
                    <button type="submit">post comment</button>
                </form>
            </div>
        </div>
{{/each}}
{{/if}}
</div>

<div class="uploadIcon">
<form method="get" action="/createArticle">
<button type="submit"><img src="/images/upload.png"></button>
</form>
</div>
