/*CSS FOR THE APPLICATION */
/*The CSS IS ORGANISED ACCORDING TO THE SEQUENCE OF PAGES AND THE DOM OBJECTS
 FROM TOP TO BOTTOM OF THE PAGE*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*CSS for all anchor tags*/
a{
    color: white;
}
img{
    border-radius: 50%;
}
/*Container for forms */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/*Container for Create Account form, or The Home page*/
.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px;
}

/*Home continer input CSS */
.home_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Code to use Image as the Radio Button to Select avatar */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid white;
}


/*Submit button for the home page and the login page*/
.home_form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*CSS For the upload Icon TO upload an new article*/
.uploadIcon{
    position: fixed;
    bottom: 0;
    right: 0;
    mix-blend-mode: lighten;
}

.avatar-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: grey;
}
/*TODO add a drop down menu when the user clicks their avatar on the articles page,
    it should display a dropdown menu with the options of My profile, edit profile and logout
    the edit profile page should have a create account like interface,
    logout should logout the user and render the login page,
    my profile should show the users personal articles
    */
.articleContainer{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 10px 5px;
    align-items: flex-start;
    justify-content: center;
   border: 1px solid white;
}
/*TODO ADD a box with a like button and number of likes, when the user clicks on the like button
   the number of likes must increase*/

.commentsContainer{
    display: flex;
    margin-left: 5px;
    margin-top: 1px;
    width: 300px;
    border: white solid 1px;
    border-radius: 5px;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: white;
    color: black;
}

.show {
    display: block;
    background-color: black;
}
/*As the size of the screen goes less than 1000px the page will adjust itself*/

@media screen and (width < 1000px){

    .articleContainer{
        flex-direction: column;
        margin: 5px 10px 5px 10px;
    }

}